#contact {
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  }
  #contact h2 {
    text-align: center;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
  }
  #contact form > button {
    align-self: center;
    margin-top: 15px;
  }
  #contact form > button:hover {
    color: white;
    background-color: black;
  }
  
button {
    background: none;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .text-important {
    color: lightblue;
    font-size: 45px;
  }